body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body * {
  margin: 0;
}

.outer-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.inner-container {
  margin: 0 auto;
  gap: 3rem;
}

.career-container {
  margin: 0 auto;
  gap: 3rem;
}

.profile-container {
  margin: 0 auto;
  gap: 1.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  line-height: 140%;
}

h2 {
  font-size: 1.375rem;
  line-height: 140%;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25rem;
  line-height: 135%;
}

p {
  font-size: 1rem;
  line-height: 130%;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #ccc;
}

i {
  color: #ccc;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body * {
  margin: 0;
}

.outer-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.inner-container {
  margin: 0 auto;
  gap: 3rem;
}

.career-container {
  margin: 0 auto;
  gap: 3rem;
}

.profile-container {
  margin: 0 auto;
  gap: 1.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  line-height: 140%;
}

h2 {
  font-size: 1.375rem;
  line-height: 140%;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25rem;
  line-height: 135%;
}

p {
  font-size: 1rem;
  line-height: 130%;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #ccc;
}

i {
  color: #ccc;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body * {
  margin: 0;
}

.outer-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.inner-container {
  margin: 0 auto;
  gap: 3rem;
}

.career-container {
  margin: 0 auto;
  gap: 3rem;
}

.profile-container {
  margin: 0 auto;
  gap: 1.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  line-height: 140%;
}

h2 {
  font-size: 1.375rem;
  line-height: 140%;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25rem;
  line-height: 135%;
}

p {
  font-size: 1rem;
  line-height: 130%;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #ccc;
}

i {
  color: #ccc;
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  i {
    font-size: 16px;
  }
  a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  i {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  .career .career-container {
    gap: 2rem;
  }
  .career .career__summary,
  .career .career__projects,
  .career .career__experience {
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  i {
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  i {
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
  .profile .profile-container .profile__info,
  .profile .profile-container .profile__contacts {
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .profile .profile-container .profile__info i,
  .profile .profile-container .profile__contacts i {
    display: none;
  }
  .profile .profile-container .profile__education {
    padding: 0.5rem;
    gap: 1rem;
  }
  .career .career-container {
    padding: 1.5rem;
  }
  .career .career-container .career__summary,
  .career .career-container .career__projects,
  .career .career-container .career__experience {
    gap: 1rem;
  }
}
@media only screen and (max-width: 599px) {
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
  i {
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
  .outer-container {
    flex-direction: column;
  }
  .profile {
    order: 1;
  }
  .profile .profile-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  .profile .profile-container .profile__info,
  .profile .profile-container .profile__contacts,
  .profile .profile-container .profile__education {
    gap: 0.5rem;
  }
  .profile .profile-container .profile__info {
    gap: 0;
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .profile .profile-container .profile__contacts {
    padding-bottom: 0;
    grid-column: 3/6;
    grid-row: 1/2;
  }
  .profile .profile-container .profile__education {
    padding-top: 1rem;
    grid-column: 3/6;
    grid-row: 2/3;
  }
  .career {
    order: 2;
  }
  .career .career-container {
    padding: 1.5rem;
  }
  .career .career-container .career__summary,
  .career .career-container .career__projects,
  .career .career-container .career__experience {
    gap: 0.5rem;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body * {
  margin: 0;
}

.outer-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.inner-container {
  margin: 0 auto;
  gap: 3rem;
}

.career-container {
  margin: 0 auto;
  gap: 3rem;
}

.profile-container {
  margin: 0 auto;
  gap: 1.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  line-height: 140%;
}

h2 {
  font-size: 1.375rem;
  line-height: 140%;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25rem;
  line-height: 135%;
}

p {
  font-size: 1rem;
  line-height: 130%;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #ccc;
}

i {
  color: #ccc;
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  i {
    font-size: 16px;
  }
  a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  i {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  .career .career-container {
    gap: 2rem;
  }
  .career .career__summary,
  .career .career__projects,
  .career .career__experience {
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  i {
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  i {
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
  .profile .profile-container .profile__info,
  .profile .profile-container .profile__contacts {
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .profile .profile-container .profile__info i,
  .profile .profile-container .profile__contacts i {
    display: none;
  }
  .profile .profile-container .profile__education {
    padding: 0.5rem;
    gap: 1rem;
  }
  .career .career-container {
    padding: 1.5rem;
  }
  .career .career-container .career__summary,
  .career .career-container .career__projects,
  .career .career-container .career__experience {
    gap: 1rem;
  }
}
@media only screen and (max-width: 599px) {
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
  i {
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
  .outer-container {
    flex-direction: column;
  }
  .profile {
    order: 1;
  }
  .profile .profile-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  .profile .profile-container .profile__info,
  .profile .profile-container .profile__contacts,
  .profile .profile-container .profile__education {
    gap: 0.5rem;
  }
  .profile .profile-container .profile__info {
    gap: 0;
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .profile .profile-container .profile__contacts {
    padding-bottom: 0;
    grid-column: 3/6;
    grid-row: 1/2;
  }
  .profile .profile-container .profile__education {
    padding-top: 1rem;
    grid-column: 3/6;
    grid-row: 2/3;
  }
  .career {
    order: 2;
  }
  .career .career-container {
    padding: 1.5rem;
  }
  .career .career-container .career__summary,
  .career .career-container .career__projects,
  .career .career-container .career__experience {
    gap: 0.5rem;
  }
}
@media only print {
  @page {
    size: A4;
  }
  body {
    background-color: white !important;
  }
  body .career {
    background-color: white !important;
  }
  body .career .career-container {
    padding: 0 0.5rem 0 0 !important;
  }
  body .career .career-container .summary__header h2,
  body .career .career-container .projects__header h2,
  body .career .career-container .experience__header h2 {
    background-color: white !important;
    border-bottom: 1px solid #ccc;
  }
  body .profile {
    background-color: white !important;
  }
  body .profile .profile-container {
    background-color: white !important;
  }
  body .profile .profile-container .profile__info,
  body .profile .profile-container .profile__contacts,
  body .profile .profile-container .profile__education {
    padding: 0 0 0 0.5rem !important;
  }
  body .profile .profile-container .profile__info {
    background-color: white !important;
  }
  body .profile .profile-container .profile__info .info__image {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
  body .profile .profile-container .profile__info .info__name {
    color: black !important;
  }
  body .profile .profile-container .profile__info .info__title {
    color: #888888;
  }
  body .profile .profile-container .profile__contacts i {
    color: #888888 !important;
  }
  body .profile .profile-container .profile__contacts a {
    color: black !important;
  }
  body .profile .profile-container .profile__education {
    padding: 0.5rem;
  }
  body .profile .profile-container .profile__education .education__title,
  body .profile .profile-container .profile__education .education__speciality {
    color: black !important;
  }
  body .profile .profile-container .profile__education .education__uni,
  body .profile .profile-container .profile__education .education__years {
    color: #888888 !important;
  }
}
body {
  background-color: #ccc;
}

.career {
  background-color: #f5f5f5;
}
.career .career-container {
  padding: 3.5rem;
  gap: 4rem;
}
.career .career__summary,
.career .career__projects,
.career .career__experience {
  gap: 2rem;
}
.career .summary__header,
.career .projects__header,
.career .experience__header {
  align-items: center;
  gap: 0.5rem;
}
.career .summary__header i,
.career .projects__header i,
.career .experience__header i {
  padding: 0.5rem;
  background-color: #888888;
  border-radius: 50%;
}
.career .summary__header h2,
.career .projects__header h2,
.career .experience__header h2 {
  background-color: #ccc;
  flex-grow: 1;
}
.career .projects__case,
.career .experience__case {
  gap: 0.8rem;
}
.career .projects__case .case__header__left .case__title,
.career .experience__case .case__header__left .case__title {
  color: #283a55;
}
.career .projects__case .case__header__left .case__company,
.career .experience__case .case__header__left .case__company {
  color: #61728a;
}
.career .projects__case .case__header__right,
.career .experience__case .case__header__right {
  margin-left: auto;
}
.career .projects__case .case__header__right .case__years,
.career .experience__case .case__header__right .case__years {
  color: #61728a;
}
.career .projects__case .case__content,
.career .experience__case .case__content {
  gap: 0.3rem;
}
.career .projects__case .case__content span,
.career .experience__case .case__content span {
  font-style: italic;
}

.profile {
  background-color: #4b6a78;
}
.profile .profile-container .profile__info,
.profile .profile-container .profile__contacts,
.profile .profile-container .profile__education {
  padding: 1.5rem;
}
.profile .profile-container .profile__info .contacts__phone,
.profile .profile-container .profile__info .contacts__linkedin,
.profile .profile-container .profile__info .contacts__email,
.profile .profile-container .profile__info .contacts__github,
.profile .profile-container .profile__contacts .contacts__phone,
.profile .profile-container .profile__contacts .contacts__linkedin,
.profile .profile-container .profile__contacts .contacts__email,
.profile .profile-container .profile__contacts .contacts__github,
.profile .profile-container .profile__education .contacts__phone,
.profile .profile-container .profile__education .contacts__linkedin,
.profile .profile-container .profile__education .contacts__email,
.profile .profile-container .profile__education .contacts__github {
  flex-shrink: 0;
}

.profile__info {
  background-color: #3d5561;
  gap: 0.5rem;
  align-items: center;
}
.profile__info .info__image {
  width: 50%;
}
.profile__info .info__image img {
  width: 100%;
  border-radius: 50%;
}
.profile__info .info__name {
  color: #f5f5f5;
}
.profile__info .info__title {
  color: #888888;
}

.profile__contacts {
  gap: 1rem;
}
.profile__contacts i {
  margin-right: 0.5rem;
}

.profile__education {
  gap: 2rem;
}
.profile__education .education__title,
.profile__education .education__speciality {
  color: #f5f5f5;
}
.profile__education .education__uni,
.profile__education .education__years {
  color: #ccc;
}

/*# sourceMappingURL=style.css.map */
